include ml_for_national_blend/utils/wrf_arw_coords.nc
include ml_for_national_blend/utils/nam_coords.nc
include ml_for_national_blend/utils/nam_nest_coords.nc
include ml_for_national_blend/utils/rap_coords.nc
include ml_for_national_blend/utils/urma_coords.nc
